@charset "utf-8";

/* global */

h2 {
  color: red;
  margin: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}


/* .container */

.container {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #000;
}