<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="c66gcm0iMw487a2YC6w7cFbrhhe_Mh_vVNC6Pt3Dak8">
    <meta name="theme-color" content="#f5f5f5">
    <title>Aiden Zhao</title>
    <meta name="description" content="zy's homepage">
    <meta name="keywords" content="zy, aiden zhao, homepage, github, blog, resume, 主页, 个人主页, 简历, 博客">
    <link rel="shortcut icon" href="../assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400">
    <link rel="stylesheet" href="../styles/app.scss">
  </head>
  <body>
    <div class="index">
      <div class="locale"><a href="zh.html">中</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 d-flex justify-content-center justify-content-lg-end"><img class="avatar" src="../assets/avatar.jpg" alt="my avatar"></div>
          <div class="col-lg-7 mt-lg-0 mt-4">
            <h1 class="title">AIDEN ZHAO</h1>
            <p class="desc">I'm a post-90s guy who still has dreams to chase. Always believe in <a href="https://en.wiktionary.org/wiki/%E6%96%AD%E6%8D%A8%E9%9B%A2" target="_blank">Danshari</a> and keeping my room tidy and clean. Plus, I'm also a huge fan of ACG culture and classic rock music.
            </p>
            <p class="desc">Currently, I'm working as a front-end developer at <a href="https://www.sohu.com/" target="_blank">Sohu</a> located in Beijing. <a href="https://vuejs.org/" target="_blank">Vue</a> and <a href="https://mp.weixin.qq.com/cgi-bin/wx" target="_blank">Wechat Miniprogram</a> are what I usually use to do the programming. Although I haven't made any achievements in the field yet, computer technologies will always be my passion.
            </p>
            <p class="desc">Ordinary and silly as I am, I'm still hoping that I will be able to bring some small changes to the world, even just tiny little ones. Ultimately, no matter how tough life gets, I'm always on the road.
            </p>
            <h2 class="section_title">Contact</h2>
            <ul class="list list-contact">
              <li class="list-item align-self-center"><a class="link" href="mailto:i@yuezhao.me"><span class="link-icon"><i class="link-icon-inner fas fa-inbox"></i></span><span class="link-label">i@yuezhao.me</span></a></li>
              <li class="list-item align-self-center"><a class="link" href="https://t.me/varzy" target="_blank"><span class="link-icon"><i class="link-icon-inner fab fa-telegram-plane"></i></span><span class="link-label">@varzy</span></a></li>
            </ul>
            <h2 class="section_title">Links</h2>
            <ul class="list list-links">
              <li class="list-item align-self-center"><a class="link" href="https://github.com/varzy"><span class="link-icon"><i class="link-icon-inner fab fa-github"></i></span><span class="link-label">Github</span></a></li>
              <li class="list-item align-self-center"><a class="link" href="https://varzy.me/blog/"><span class="link-icon"><i class="link-icon-inner fas fa-blog"></i></span><span class="link-label">Blog</span></a></li>
              <li class="list-item align-self-center"><a class="link" href="https://www.notion.so/Stacks-23a151f7310543e186304f74c8b15034"><span class="link-icon"><i class="link-icon-inner fas fa-code"></i></span><span class="link-label">Notes</span></a></li>
              <li class="list-item align-self-center"><a class="link" href="https://varzy.me/resume/"><span class="link-icon"><i class="link-icon-inner fas fa-user-astronaut"></i></span><span class="link-label">Resume</span></a></li>
              <li class="list-item align-self-center"><a class="link" href="https://twitter.com/varzyme"><span class="link-icon"><i class="link-icon-inner fab fa-twitter"></i></span><span class="link-label">Twitter</span></a></li>
              <li class="list-item align-self-center"><a class="link" href="https://www.douban.com/people/179641263/" target="_blank"><span class="link-icon"><i class="link-icon-inner fas fa-film"></i></span><span class="link-label">Douban</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/main.js"></script>
  </body>
</html>