<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="google-site-verification" content="c66gcm0iMw487a2YC6w7cFbrhhe_Mh_vVNC6Pt3Dak8" />
    <meta name="theme-color" content="#f5f5f5" />
    <title>Aiden Zhao</title>
    <meta name="description" content="zy's homepage" />
    <meta
      name="keywords"
      content="zy, aiden zhao, homepage, github, blog, resume, 主页, 个人主页, 简历, 博客"
    />
    <link rel="shortcut icon" href="../assets/favicon.png" />
    <link rel="stylesheet" href="../styles/app.scss" />
  </head>
  <body>
    <div class="index">
      <div class="locale"><a href="en.html">ENG</a></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 text-center text-lg-end">
            <img class="avatar" src="../assets/avatar.jpg" alt="my avatar" />
          </div>
          <div class="col-lg-7">
            <h1>赵 越</h1>
            <p class="desc">进击的普通人.<b>123321312</b></p>
            <p class="desc">12312312</p>
            <h2>Contact</h2>
            <ul class="links links-contact">
              <li class="link align-self-center">
                <span class="link-icon"><i class="link-icon-inner fas fa-inbox"></i></span
                ><a class="link-label" href="mailto:i@yuezhao.me">i@yuezhao.me</a>
              </li>
              <li class="link align-self-center">
                <span class="link-icon"><i class="link-icon-inner fab fa-telegram-plane"></i></span
                ><a class="link-label" href="https://t.me/varzy">@varzy</a>
              </li>
            </ul>
            <h2>Links</h2>
            <ul class="links links-links">
              <li class="link align-self-center">
                <i class="link-icon fab fa-github"></i
                ><a class="link-label" href="https://github.com/varzy">Github</a>
              </li>
              <li class="link align-self-center">
                <i class="link-icon fas fa-blog"></i
                ><a class="link-label" href="https://varzy.me/blog/">博客</a>
              </li>
              <li class="link align-self-center">
                <i class="link-icon fas fa-user-astronaut"></i
                ><a class="link-label" href="https://varzy.me/resume/">简历</a>
              </li>
              <li class="link align-self-center">
                <i class="link-icon fab fa-twitter"></i
                ><a class="link-label" href="https://twitter.com/varzyme">Twitter</a>
              </li>
              <li class="link align-self-center">
                <i class="link-icon fas fa-film"></i
                ><a class="link-label" href="https://www.douban.com/people/179641263/">豆瓣</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
