.index {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    padding-top: 96px;
    padding-bottom: 120px;
    display: block;
    width: 100%;
    height: auto;
  }

  .locale {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .avatar {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }

  h1.title {
    font-weight: lighter;
    font-size: 48px;
    margin-bottom: 8px;
  }

  p.desc {
    margin-bottom: 8px;

    a {
      color: $link-color;
    }
  }

  h2.section_title {
    font-size: 34px;
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: lighter;
  }

  .list {
    padding: 0;
    margin: 0;

    &-item {
      list-style: none;

      .link {
        &-icon {
          display: inline-block;
          width: 24px;
        }
      }
    }
  }

  .list-links {
    .list-item {
      display: inline-block;
      margin-right: 16px;
    }
  }
}
