html {
  body {
    font-family: 'Raleway', $font-family-base !important;
    color: #292929;
  }

  a:link,
  a:visited {
    transition: all 0.24s ease-in-out;
    color: #292929;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: #3273dc;
    text-decoration: none;
  }
}
