.index {
  font-size: 18px;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
  * {
    font-weight: 300;
  }
  .avatar {
    object-fit: cover;
    width: 192px;
    height: 192px;
    @include media-breakpoint-down(lg) {
      width: 168px;
      height: 168px;
    }
  }
  h1.title {
    font-size: 48px;
  }
  h2.subtitle {
    font-style: italic;
    font-size: 20px;
  }
  .descriptions {
    &-item {
      line-height: 1.6;
    }
  }
}
