.index {
  letter-spacing: 0.8px;
  text-align: justify;
  font-size: 17px;
  line-height: 1.72;
  font-weight: 300;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
  a {
    white-space: nowrap;
    @include media-breakpoint-down(lg) {
      white-space: normal;
    }
  }
  .avatar {
    object-fit: cover;
    width: 192px;
    height: 192px;
    @include media-breakpoint-down(lg) {
      width: 168px;
      height: 168px;
    }
  }
  h1.title {
    font-weight: 300;
    font-size: 48px;
    @include media-breakpoint-down(lg) {
      font-size: 42px;
    }
  }
  h2.subtitle {
    margin-top: 2.4rem;
    font-weight: 300;
    // font-style: italic;
    font-size: 14px;
    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
  }
}
