.index {
  letter-spacing: 0.8px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.72;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
    letter-spacing: 0.4px;
  }
  * {
    font-weight: 300;
  }
  .avatar {
    object-fit: cover;
    width: 192px;
    height: 192px;
    @include media-breakpoint-down(lg) {
      width: 168px;
      height: 168px;
    }
  }
  h1.title {
    font-size: 48px;
    @include media-breakpoint-down(lg) {
      font-size: 42px;
    }
  }
  h2.subtitle {
    font-style: italic;
    font-size: 18px;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }
}
