html {
  --zy-color-primary: #3273dc;
  --zy-color-ink: #292929;
  --zy-color-bg: #ededed;

  @media (prefers-color-scheme: dark) {
    --zy-color-primary: #71b4f6;
    --zy-color-ink: #fff;
    --zy-color-bg: #111;
  }

  body {
    font-family: 'Raleway', $font-family-base !important;
    background-color: var(--zy-color-bg);
    color: var(--zy-color-ink);
  }

  a:link,
  a:visited {
    color: var(--zy-color-primary);
    text-decoration: none;
    transition: all 0.24s ease-in-out;
  }

  a:hover,
  a:active {
    color: var(--zy-color-ink);
    text-decoration: none;
  }
}
