@font-face {
  font-family: 'Raleway';
  src: url('../assets/Raleway-Light.ttf') format('truetype');
}

html {
  --color-primary: #3273dc;
  --color-ink: #292929;
  --color-bg: #fefefe;

  @media (prefers-color-scheme: dark) {
    --color-primary: #71b4f6;
    --color-ink: #fff;
    --color-bg: #111;
  }

  body {
    font-family: 'Raleway', $font-family-base !important;
    background-color: var(--color-bg);
    color: var(--color-ink);
  }

  a:link,
  a:visited {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.24s ease-in-out;
  }

  a:hover,
  a:active {
    color: var(--color-ink);
    text-decoration: none;
  }
}
